# Ignore node_modules
node_modules/
build/
dist/
.DS_Store

# Ignore Python dependencies and virtual environments
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.env

# Ignore SQLite DB
*.db
*.sqlite3

# Ignore IDE files
.vscode/
.idea/
